* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#navabarLIstItems{
  margin-left: auto;
}
#navabarLIstItems li a{
  padding: 35px 20px;
  color: #464d58;
}
#navabarLIstItems li a:hover {
  background-color: #36b3c9; 
  color:white;
  transition: 0.5s;
}
.collapseButtonColor {
 color: black;
}
#AboutPage .AboutPage-FirstSection .AboutPage-FirstSection-content{
  margin-top: 80px;
}

#AboutPage .AboutPage-FirstSection .AboutPage-FirstSection-content .AboutPage-FirstSection-content-titleContentbottom{
  height: 4px;
  margin: 0 auto;
  width: 65px;
  background-color: #36b3c9; 
} 
#AboutPage .AboutPage-FirstSection .AboutPage-FirstSection-content .AboutPage-FirstSection-content-subject{
  margin-top: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #464d58;
}
#AboutPage .AboutPage-SecondSection-content{
  background-color: #36b3c9;
}
#AboutPage .AboutPage-SecondSection-content .AboutPage-SecondSection-content-Wrapper{
  margin-top: 120px;
}
.AboutPage-SecondSection-content-image{
  /* border: 1px solid #fff;
    border-radius:50px; */
    color: #fff;
    display: block;
   
}
.AboutPage-SecondSection-content-header{
  color: #fff;
    font-size: 25px;
}
/* Gallery */

/* Position the image container (needed to position the left and right arrows) */
.Gallery-Container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.create-Row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.zoom {
  transition: transform .2s;
  margin: 0 auto;
}
.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
/* social icons */

.social-icons a .fab {
    background: #343434 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin: 0 2px;
    padding: 10px 12px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    vertical-align: middle;
}
.social-icons a .fab:hover{
  background-color: #36b3c9;
  
}

/*contact us */

#contact{
  background: url(./Images/contact-bg.jpg) no-repeat scroll center center / cover;
}
.contact-form-section {
  position: relative;
  padding: 60px 50px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 80px auto;
  /* position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px; */
}
#contactForm .row{
  margin: auto -15px;
}
.contact-form-icon {
  position: relative;
  margin-bottom: 20px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.contact-form-icon .fa {
  color: #ffffff;
  padding: 14px 12px;
  pointer-events: none;
  position: absolute;
}